@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
#root{
  width:60%;
  background-color: rgb(239, 230, 230);
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.app {
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
}
.heading{
  text-align: center;
  padding: 10px;
  background-color: #240370 ;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label,
.form-control textarea {
  display: block;
}
.radio {
  display: flex;
  
}

.form-control label {
  font-weight: bold;
}

.form-control input,
.form-control textarea,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* width: 20rem; */
  max-width: 100%;
}


.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: rgb(233, 230, 230);
}


button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 6px 6px 3px #aaaaaa;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}
button:disabled,
button:disabled:hover,
button:disabled:active{
  background-color: #ccc;
  color: #393939;
  border-color: #ccc;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.error-text {
  color: #b40e0e;
  margin-left: 10px;
} 

